groups:
- name: backend-alerts
  rules:

  - alert: ContainerDown
    expr: absent(container_last_seen{container=~"doctorx24-backend-.*"})
    for: 30s
    labels:
      severity: critical
    annotations:
      summary: "Backend container is down"
      description: "No metrics received for backend container for 30 seconds"

  - alert: BackendHighCPU
    expr: |
      (
       sum by (container_label_com_docker_compose_service) (
         rate(container_cpu_usage_seconds_total{
           job="cadvisor",
           container_label_com_docker_compose_service=~"backend-blue|backend-green"
         }[1m])
       )
       /
       count without (cpu) (
         node_cpu_seconds_total{mode="system"}
       )
     ) > 0.7
   for: 2m
   labels:
     severity: warning
   annotations:
     summary: "High CPU usage on backend"
     description: "Backend using >70% of host CPU for more than 2 minutes"

  - alert: BackendHighMemory
    expr: |
      sum by (container_label_com_docker_compose_service) (
        container_memory_usage_bytes{
          job="cadvisor",
          container_label_com_docker_compose_service=~"backend-blue|backend-green"
        }
      ) / 1024 / 1024 > 512
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "High memory usage on backend"
      description: "Backend container memory usage is above 512MB."

