global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    metrics_path: /prometheus/metrics
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: "docker"
    static_configs:
      - targets: ["172.31.10.204:9323"]

  - job_name: "node-exporter"
    static_configs:
      - targets:
          - "node-exporter:9100"

rule_files:
  - /etc/prometheus/rules/*.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093


